<tabset>
	<tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">		
		<textarea ui-codemirror="editor.options" ui-refresh="tab.active" ng-model="tab.content"></textarea>
	</tab>
	<tab select="addTab()">
		<tab-heading>
			<i class="glyphicon glyphicon-plus-sign"></i>
		</tab-heading>
	</tab>
</tabset>


<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="runAlgo()"> <i class="glyphicon glyphicon-cog"></i> Executer l'algorithme</button>
	<button type="button" class="btn btn-default" ng-click="clearConsole()"><i class="glyphicon glyphicon-trash"></i> Vider la console</button>
</div>


<div>
    <terminal terminal-config="vintage" id="terminal">
    </terminal>
</div>