<div class="container">
	<h1> Tutoriels </h1>
	<h3> Les bases </h3>
	
	<div class="row">
		<section class="col-sm-6 course-section">
			<nav class="course-tile">
				<a href="#/tuto/variables" class="course"> <i class="glyphicon glyphicon-book"></i> Cours sur les variables </a>
				<a href="#/tuto/equation"> <i class="fa fa-pencil-square-o"></i> Résolution d'une équation du premier dergrès</a>
				<a href="#/tuto/echange"> <i class="fa fa-pencil-square-o"></i> Echanger deux variables entre elles </a>
				<a href="#/tuto/booleen"> <i class="fa fa-pencil-square-o"></i> Manipuler les boolèen</a>
				<a href="#/tuto/tableau"> <i class="fa fa-pencil-square-o"></i> Manipuler les tableaux </a>
			</nav>
		</section>

		<section class="col-sm-6 course-section">
			<nav class="course-tile">
				<a href="#/tuto/conditions" class="course"> <i class="glyphicon glyphicon-book"></i> Cours sur les conditions </a>
				<a href="#/tuto/pileOuFace"> <i class="fa fa-pencil-square-o"></i> Pile ou face </a>
				<a href="#/tuto/equationSecondDegre"> <i class="fa fa-pencil-square-o"></i> Equation du second degré </a>
			</nav>
		</section>
	</div>

	<div class="row">
		<section class="col-sm-6 course-section">
			<nav class="course-tile">
				<a href="#/tuto/boucles" class="course"> <i class="glyphicon glyphicon-book"></i> Cours sur les boucles </a>
				<a href="#/tuto/maximum"> <i class="fa fa-pencil-square-o"></i> Maximum d'un tableau </a>
				<a href="#/tuto/moyenne"> <i class="fa fa-pencil-square-o"></i> Moyenne d'un tableau </a>
				<a href="#/tuto/justePrix"> <i class="fa fa-pencil-square-o"></i> Juste prix </a>
				<a href="#/tuto/tri"> <i class="fa fa-pencil-square-o"></i> Tri d'un tableau </a>
				<a href="#/tuto/ticTacToe"> <i class="fa fa-pencil-square-o"></i> Tic tac toe </a>
			</nav>
		</section>
	</div>

	<h3> Pratiques avancées </h3>
	<p>
		Cette suite de tutoriels présentes les fonctionnalitées avancées que vous pouvez utiliser pour vous simplifier la vie. Nous présenterons les fonctions, le mode pas à pas. 
	</p>


	<p>
		Cette page est en cours de construction...
		<br/>
		Il est possible pour le moment de télécharger et d'importer des algorithmes de présentation.

		<a href="https://drive.google.com/open?id=0B1dpLqYoi_7qcTVVYUNqRW1zUGc&authuser=0" target="_blank"> Dossier contenant les exemples d'algortihmes </a>	
	</p>

	<h1> Contact </h1>
	<p>
		Si vous avez des questions, ou des remarques, vous pouvez me contacter sur le mail suivant : 
		<a href="mailto:deblock.thomas.62@gmail.com">deblock.thomas.62@gmail.com</a>
	</p>
</div>
