<div class="container">
	<h1> Tutoriels </h1>
	<p>
		Cette page est en cours de construction...
		<br/>
		Il est possible pour le moment de télécharger et d'importer des algorithmes de présentation.

		<a href="https://drive.google.com/open?id=0B1dpLqYoi_7qcTVVYUNqRW1zUGc&authuser=0" target="_blank"> Dossier contenant les exemples d'algortihmes </a>	
	</p>

	<h1> Contact </h1>
	<p>
		Si vous avez des questions, ou des remarques, vous pouvez me contacter sur le mail suivant : 
		<a href="mailto:deblock.thomas.62@gmail.com">deblock.thomas.62@gmail.com</a>
	</p>
</div>
