<div class="modal-header">
	<button type="button" class="close" ng-click="close(true)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	<h3 class="modal-title"> Ajout d'une instruction <span ng-if="selected.title"> > {{selected.title}}</span> </h3>
</div>
<div class="modal-body row">
	<!-- selection menu -->
	<div class="type-selection col-sm-4">
		<accordion close-others="true" ng-show="help == null">
			<accordion-group is-open="sectionContent.open" ng-repeat="sectionMenus in sections | orderObjectBy:'position':false">
				<accordion-heading>
					{{sectionMenus.key}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sectionContent.open, 'glyphicon-chevron-right': !sectionContent.open}"></i>
				</accordion-heading>
				<div  
					ng-if="menuName != 'open' && menuName != 'key' && menuName != 'position'" 
					ng-repeat="(menuName, action) in sectionMenus"
					ng-click="setSelected(action)"
				>
					{{menuName}} 
				</div>
			</accordion-group >
		</accordion>
		<div class="panel panel-default" ng-if="help != undefined">			
			<div ng-id="help.title != undefined" class="panel-heading">
				<button type="button" class="close" ng-click="closeHelp()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		
				<h4 class="panel-title">{{help.title}}</h4>
			</div>
			<!-- Affichage de l'aide des fonctions -->
			<div ng-if="help.id == 'functions'" class="panel-body">
				<div ng-repeat="(key, _) in functions">
					<span  tooltip="{{functionsDescription[key]}}" tooltip-placement="right">
						{{key}}
					</span>
				</div>
				<span ng-if="accessibleFunctions | notEmpty"> ---- </span>
				<div ng-repeat="(key, _) in accessibleFunctions">
					<span>
						{{key}}
					</span>
				</div>
			</div>

			<!-- Affichage de l'aide des variables-->
			<div ng-if="help.id == 'variables'" class="panel-body">
				<div ng-repeat="(name, type) in vars">
					<span >
						{{name}} : {{configuration.translateVarType[type]}}
					</span>
				</div>
			</div>
		</div>
	</div>

	
	<div class="ins-body col-sm-8" >
		<form class="form-horizontal" role="form" name="insForm">
			<!-- cas de la création de l'instruction define -->
			<div ng-if="selected.id == 'define'">
				<div class="alert alert-info" role="alert"> 
					Une variable sert à stocker des informations pour les utiliser par la suite dans des calculs. Pour utiliser une variable dans un pogramme il faut dans un premier temps la déclarer pour indiquer le type de la variable.
				</div>
				
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.varname.$error.required}">
					<label for="varname"  class="col-sm-4 control-label"> Nom de la variable </label>
					<div class="col-sm-7">
						<input  class="form-control" name="varname" type="text" id="varname" ng-model="selected.varname" required/>
						
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="isValidated && insForm.varname.$error.required"></span>
						<span class="error help-block" ng-show="isValidated && insForm.varname.$error.required">Obligatoire</span>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.vartype.$error.required}">
					<label for="type"  class="col-sm-4 control-label"> Type de la variable </label>
					<div class="col-sm-7">
						<select name="vartype" class="form-control" id="type" ng-model="selected.type" required>
							<option ng-repeat="(type, _) in configuration.varTypes | orderBy:type:reverse" value="{{type}}">{{type}}</option>
						</select>
						<span class="error help-block" ng-show="isValidated && insForm.vartype.$error.required">Obligatoire</span>
					</div>
				</div>
			</div>
			
			<!-- cas de la lecture d'une variable -->
			<div ng-if="selected.id == 'read'">
				<div class="alert alert-info" role="alert"> 
					L'instruction lire permet de demander une information à l'utilisateur. L'information doit être stockée dans une variable déclarée précédemment. 
				</div>
				
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.varname.$error.required}">
					<label for="varname"  class="col-sm-4 control-label"> Nom de la variable </label>
					<div class="col-sm-7">
						<select name="varname" class="form-control" id="varname" ng-model="selected.varname" required>
							<option ng-repeat="(varName, varType) in vars | orderBy:varName:reverse" value="{{varName}}">{{varName}} ({{configuration.translateVarType[varType]}})</option>
						</select>
						<span class="error help-block" ng-show="isValidated && insForm.varname.$error.required">Obligatoire</span>
					</div>
				</div>
			</div>
			
			<!-- cas de la lecture d'une variable -->
			<div ng-if="selected.id == 'write'">
				<div class="alert alert-info" role="alert"> 
					L'instruction Ecrire permet d'écrire un message à l'utilisateur. Vous pouvez écrire un message simple, ou un calcul, ou une expression quelconque.
				</div>
				
				<div class="form-group">
					<label for="expression"  class="col-sm-4 control-label"> Expression : </label>
					<div class="col-sm-7">
						<input type="text" id="expression" ng-model="selected.expression" name="expression" class="form-control"/>
						<div class="help-block">
							Peut être un calcul, un appel à une fonction, un calcul etc.
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="message"  class="col-sm-4 control-label"> Ou un Message : </label>
					<div class="col-sm-7">
						<input type="text" id="message" ng-model="selected.message" name="message" class="form-control"/>
						<div class="help-block">
							un simple message text
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="output"  class="col-sm-4 control-label"> Sortie du message : </label>
					<div class="col-sm-7">
						<select name="output" ng-model="selected.output" name="output" class="form-control">
							<option value=""></option>
							<option value="{{name}}" ng-repeat="(name, _) in configuration.writeOutput()"> {{name}} </option>
						</select>
						<div class="help-block">
							La sortie permet d'affiche le message dans différentes couleurs, blanc par défaut, rouge sur la sortie erreur, vert sur la sortie info
						</div>
					</div>
				</div>
			</div>
			
			<!-- cas de l'affectation d'une variable -->
			<div ng-if="selected.id == 'afectation'">
				<div class="alert alert-info" role="alert"> 
					L'affectation permet de modifier la valeur d'une variable. Un affectation affecte une expression à une variable, une expression peut être un calcul, une chaine de caractére, une autre variable, etc...
				</div>
				
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.varname.$error.required}">
					<label for="varname"  class="col-sm-4 control-label"> Nom de la variable à modifier </label>
					<div class="col-sm-7">
						<select name="varname" class="form-control" id="varname" ng-model="selected.varname" ng-change="selected.varType = vars[selected.varname]" required>
							<option ng-repeat="(varname, varType) in vars | orderBy:varname:reverse" value="{{varname}}">{{varname}} ({{configuration.translateVarType[varType]}})</option>
						</select>
						<span class="error help-block" ng-show="isValidated && insForm.varname.$error.required">Obligatoire</span>
					</div>
				</div>
				
				<!-- La gestion des tableaux se fait sans expression -->
				<div class="form-group" ng-if="selected.varType != 'array'">
					<label for="expression"  class="col-sm-4 control-label"> Expression : </label>
					<div class="col-sm-7">
						<input type="text" id="expression" ng-model="selected.expression" name="expression" class="form-control"/>
						<div class="help-block">
							Peut être un calcul, un appel à une fonction, etc...  
							<span ng-if="selected.varType == 'string'">
								Exemple : "Bonjour " + uneVariable
							</span>
							<span ng-if="selected.varType == 'number'">
								Exemple : (1 + 8) / 9 ou arondi_inferieur(1 + variable)
							</span>
							
							<span ng-if="selected.varType == 'boolean'">
								Exemple : vrai ou faux ou une expression boolean (1 == uneVariable et 2 <= uneAutreVariable)
							</span>
						</div>
					</div>
				</div>
				<!-- Pour les chaines de caractére on peut entrer directement un message -->
				<div class="form-group" ng-if="selected.varType == 'string'">
					<label for="message"  class="col-sm-4 control-label"> Ou chaine de caractére : </label>
					<div class="col-sm-7">
						<input type="text" id="message" ng-model="selected.message" name="message" class="form-control"/>
						<div class="help-block"> Ecrivez le contenu de la chaine de caractére </div>
					</div>
				</div>
				<!-- pour les nombre on peut entrer directement un nombre -->
				<div class="form-group" ng-if="selected.varType == 'number'">
					<label for="number"  class="col-sm-4 control-label"> Ou un nombre : </label>
					<div class="col-sm-7">
						<input type="text" id="number" ng-model="selected.number" name="number" class="form-control"/>
						<div class="help-block"> Ecrivez un nombre. Exemple : 1 ou 1.2 ou 1,5 </div>
					</div>
				</div>
				<!-- pour les boolean on peut selectionner la valeur dans une liste déroulante -->
				<div class="form-group" ng-if="selected.varType == 'boolean'">
					<label for="boolean"  class="col-sm-4 control-label"> Ou un booleen : </label>
					<div class="col-sm-7">
						<select ng-model="selected.boolean" name="boolean" class="form-control" id="boolean">
							<option ng-repeat="(boolValue, _) in configuration.booleanName" value="{{boolValue}}"> {{boolValue}} </option>
						</select>
						<div class="help-block"> Selectionnez vrai ou faux </div>
					</div>
				</div>
				
				<!-- Pour les tableaux on peut soit ajouter un element au tableau (par index (clef value), seulement un element) -->
				
				<!-- proposition de deux types de tableaux (simple ou clef valeurs) -->
				<div class="form-group" ng-if="selected.varType == 'array'" ng-class="{'has-error has-feedback' : isValidated && insForm.arrayType.$error.required}">
					<label for="arrayType"  class="col-sm-4 control-label"> Type de tableau : </label>
					<div class="col-sm-7">
						<select ng-model="selected.arrayType" name="arrayType" class="form-control" id="arrayType" required>
							<option value="1"> Tableau simple </option>
							<option value="2"> Tableau clef => valeurs </option>
							<option value="3"> Modifier une seul cellule </option>
						</select>
						<span class="error help-block" ng-show="isValidated && insForm.index.$error.required">Obligatoire</span>
						<div class="help-block"> Un tableau simple est une suite de valeurs. Un tableau clef => valeur est un tableau qui associe une clef à une valeur. </div>
					</div>
				</div>

				<!-- tableau simple , suite de valeurs -->
				<div class="form-group" ng-if="selected.varType == 'array' && selected.arrayType == 1">
					<label for="arrayType"  class="col-sm-4 control-label"> Liste de valeurs : </label>
					<div class="col-sm-7">
						<div class="help-block"> chaque champ peut être un nombre, une chaine, un booleen, une expression, une calcul, etc... Laissez vide pour vider le tableau. </div>
						<div ng-repeat="arrayValue in selected.arrayValues track by $index" class="row">
							<div class="col-sm-10">
								<input type="text" ng-model="arrayValue" class="form-control"/>
							</div>
							<span ng-click="removeArray($index)" class="glyphicon glyphicon-minus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>
						</div>
						<div class="row">
							<div class="col-sm-10">
								<input placeholder="Entrez une valeur" type="text" ng-model="selected.arrayCurrentValue" class="form-control"/> 
							</div>
							<span ng-click="addArrayValue()" class="glyphicon glyphicon-plus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>							
						</div>
						
					</div>
				</div>

				<!-- simple modification de cellule -->
				<div class="form-group" ng-if="selected.varType == 'array' && selected.arrayType == 3" >
					<label for="index"  class="col-sm-4 control-label"> Indice : </label>
					<div class="col-sm-7">
						<input ng-model="selected.index" type="text" name="index" class="form-control"  />
						
						<div class="help-block"> Indice dans le tableau : nombre, chaine, expression. Si aucune valeur n'est précisée, la valeur est ajoutée à la fin du tableau. </div>
					</div>
				</div>

				<!-- valeur de la cellule -->
				<div class="form-group" ng-if="selected.varType == 'array' && selected.arrayType == 3" ng-class="{'has-error has-feedback' : isValidated && insForm.expression.$error.required}">
					<label for="expression"  class="col-sm-4 control-label"> Valeur : </label>
					<div class="col-sm-7">
						<input ng-model="selected.expression" type="text" name="expression" class="form-control" required />
						<span class="error help-block" ng-show="isValidated && insForm.expression.$error.required">Obligatoire</span>
						<div class="help-block"> L'expression a insérer dans le tableau. </div>
					</div>
				</div>
				
				
				<!-- tableau clef valeur -->
				<div class="form-group" ng-if="selected.varType == 'array' && selected.arrayType == 2">
					<label for="arrayType"  class="col-sm-4 control-label"> Liste de valeurs : </label>
					<div class="col-sm-7">
						<div class="help-block"> chaque champ peut être un nombre, une chaine, un booleen, une expression, une calcul, etc... Laissez vide pour vider le tableau. </div>
						<div ng-repeat="arrayValue in selected.arrayValues track by $index" class="row">
							<div class="col-sm-4">
								<input type="text" ng-model="arrayValue.key" class="form-control"/>
							</div>
							<div class="col-sm-6">
								<input type="text" ng-model="arrayValue.value" class="form-control"/>
							</div>
							<span ng-click="removeArray($index)" class="glyphicon glyphicon-minus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<input placeholder="Clef de la valeur" type="text" ng-model="selected.arrayCurrentValue.key" class="form-control"/> 
							</div>
							<div class="col-sm-6">
								<input placeholder="Valeur de la cellule" type="text" ng-model="selected.arrayCurrentValue.value" class="form-control"/> 
							</div>
							<span ng-click="addArrayValue()" class="glyphicon glyphicon-plus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>							
						</div>
						
					</div>
				</div>
			</div>

			<!-- cas de la structure conditionnel -->
			<div ng-if="selected.id == 'if'">
				<div class="alert alert-info" role="alert"> 
					Un condition permet d'executer une portion en code en fonction d'un test. Si le test est vrai alors la premiére portion de code est executé, si non les instructions sous le "si_non" sont executées.
				</div>

				<!-- test du si -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.test.$error.required}">
					<label for="test"  class="col-sm-4 control-label"> Condition </label>
					<div class="col-sm-7">
						<input name="test" class="form-control" id="test" ng-model="selected.test" required/>
						<span class="eror help-block" ng-show="isValidated && insForm.test.$error.required">Obligatoire</span>
						<span class="help-block">Si cette condition vaut vrai alors le code sous le SI sera executé.</span>
					</div>
				</div>

				<!-- add else if block -->


				<!-- add a else block -->
				<div class="checkbox">
				    <label>
				      <input type="checkbox" ng-model="selected.elseBlock"> Ajouter un bloc SI_NON
				    </label>
				    <span class="help-block">Si cette case est coché un block SI_NON va être ajouté. Le block SI_NON est executé si le test est faux. </span>
					
				</div>
			</div>			

			<!-- cas de la boucle tant que -->
			<div ng-if="selected.id == 'while'">
				<div class="alert alert-info" role="alert"> 
					Une boucle tant_que premet d'executer une suite de ligne plusieurs fois. Le nombre de fois est conditionnée par une condition, la boucle s'arréte quad la condition passe à faux.
				</div>

				<!-- test du si -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.test.$error.required}">
					<label for="test"  class="col-sm-4 control-label"> Condition </label>
					<div class="col-sm-7">
						<input name="test" class="form-control" id="test" ng-model="selected.test" required/>
						<span class="eror help-block" ng-show="isValidated && insForm.test.$error.required">Obligatoire</span>
						<span class="help-block">Tant que cette condition vaux vrai le code du tant_que est executé.</span>
					</div>
				</div>
			</div>

			<!-- cas de la boucle foreach -->
			<div ng-if="selected.id == 'foreach'">
				<div class="alert alert-info" role="alert"> 
					Cette boucle permet de parcourir les valeurs un tableau.
				</div>

				<!-- variable à parcourir -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.array.$error.required}">
					<label for="array"  class="col-sm-4 control-label"> Tableau </label>
					<div class="col-sm-7">
						<select name="array" class="form-control" id="array" ng-model="selected.array" required>
							<option value="{{varname}}" ng-repeat="(varname, vartype) in this.vars | filter:{vartype : 'array'}">
								{{varname}}
							</option>
						</select>
						<span class="eror help-block" ng-show="isValidated && insForm.array.$error.required">Obligatoire</span>
						<span class="help-block">Le tableau à parcourir.</span>
					</div>
				</div>

				<!-- nom de la variable à affecter -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.varname.$error.required}">
					<label for="array"  class="col-sm-4 control-label"> Nom de la variable </label>
					<div class="col-sm-7">
						<input type="text" name="varname" class="form-control" id="varname" ng-model="selected.varname" required />
						<span class="eror help-block" ng-show="isValidated && insForm.varname.$error.required">Obligatoire</span>
						<span class="help-block">Le nom de la variable ou seront stockée les valeurs du tableau.</span>
					</div>
				</div>
			</div>

			<!-- cas de la boucle for -->
			<div ng-if="selected.id == 'for'">
				<div class="alert alert-info" role="alert"> 
					Cette boucle de réaliser un parcourt entre deux nombre.
				</div>

				<!-- variable à parcourir -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.varname.$error.required}">
					<label for="varname"  class="col-sm-4 control-label"> Nom de la variable </label>
					<div class="col-sm-7">
						<input type="text" name="varname" class="form-control" id="varname" ng-model="selected.varname" required />
						<span class="eror help-block" ng-show="isValidated && insForm.varname.$error.required">Obligatoire</span>
						<span class="help-block">Le nom de la variable ou seront stockée les valeurs du tableau.</span>
					</div>
				</div>

				<!-- borne de début -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.start.$error.required}">
					<label for="start"  class="col-sm-4 control-label"> Borne de départ </label>
					<div class="col-sm-7">
						<input type="text" name="start" class="form-control" id="start" ng-model="selected.start" required/>
						<span class="eror help-block" ng-show="isValidated && insForm.start.$error.required">Obligatoire</span>
						<span class="help-block">La borne de départ de la boucle, ce nombre est inclu. Peut être un nombre, ou une expression. Par exemple : 1 ou (1 + 8 / 5) ou taille(tableau). </span>
					</div>
				</div>

				<!-- borne de fin -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.end.$error.required}">
					<label for="end"  class="col-sm-4 control-label"> Borne de fin </label>
					<div class="col-sm-7">
						<input type="text" name="end" class="form-control" id="end" ng-model="selected.end" required/>
						<span class="eror help-block" ng-show="isValidated && insForm.end.$error.required">Obligatoire</span>
						<span class="help-block">La borne de fin de la boucle, ce nombre est inclu. Peut être un nombre, ou une expression. Par exemple : 1 ou (1 + 8 / 5) ou taille(tableau). </span>
					</div>
				</div>

				<!-- step -->
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.step.$error.required}">
					<label for="step"  class="col-sm-4 control-label"> Pas </label>
					<div class="col-sm-7">
						<input type="text" name="step" class="form-control" id="step" ng-model="selected.step" />
						<span class="eror help-block" ng-show="isValidated && insForm.step.$error.required">Obligatoire</span>
						<span class="help-block">Le pas de la boucle définie le saut éfféctuer à chaque étape. Si aucune valeur n'est indiquée un pas de 1 est appliqué. Par exemple une boucle de 1 à 3 avec un pas de 0.5 vas prendre les valeurs : 1, 1.5, 2, 2.5, 3.</span>
					</div>
				</div>
			</div>

			<!-- fonction simple avec un paramètre et un exepression -->
			<div ng-if="selected.id == 'functionSimple'">
				<div class="alert alert-info" role="alert"> 
					Fonction simple avec un seul paramètre qui est un nombre, <b> le nom du paramètre est  x </b>. Par exemple f(x) = a * x + b. Ce type de fonction peut servir pour afficher un graphe.
				</div>
				
				<div ng-include src="'functionName.html'"></div>
				
				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.expression.$error.required}">
					<label for="expression"  class="col-sm-4 control-label"> Expression : </label>
					<div class="col-sm-7">
						<input type="text" id="expression" ng-model="selected.expression" name="expression" class="form-control" required/>
						<span class="error help-block" ng-show="isValidated && insForm.expression.$error.required">Obligatoire</span>
						<div class="help-block">
							L'expression représente le résultat de la fonction. Par exemple pour f(x) = 2x+3, l'expression sera 2 * x + 3.
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- fonction suite de if -->
			<div ng-if="selected.id == 'functionConditional'">
				<div class="alert alert-info" role="alert"> 
					Fonction qui prend un paramètre d'un type au choix, <b> le nom du paramètre est  x </b>. Cette fonction effectue une opération différente en fonction du paramètre par exemple.
					f(x) = Si x == 1 retourner 1 si x == 2 retourner 2 si_non retourner f(x - 1) + f( x - 2)
				</div>

				<div ng-include src="'functionName.html'"></div>

				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.paramType.$error.required}">
					<label for="paramType"  class="col-sm-4 control-label"> Type du paramètre </label>
					<div class="col-sm-7">
						<select name="paramType" class="form-control" id="paramType" ng-model="selected.paramType" required>
							<option ng-repeat="(type, _) in configuration.varTypes | orderBy:type:reverse" value="{{type}}">{{type}}</option>
						</select>
						<span class="error help-block" ng-show="isValidated && insForm.paramType.$error.required">Obligatoire</span>
					</div>
				</div>

				<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.elseReturn.$error.required}">
					<label for="elseReturn"  class="col-sm-4 control-label"> Si non </label>
					<div class="col-sm-7">
						<input type="text" id="elseReturn" name="elseReturn" ng-model="selected.elseReturn" class="form-control" required/>
						<span class="error help-block" ng-show="isValidated && insForm.elseReturn.$error.required">Obligatoire</span>
						<span class="help-block"> Cette expression est retournée si aucune condition n'est respéctée.</span>
					</div>
				</div>

				<div class="row form-group">
					<label class="col-sm-4 control-label"> Suite des conditions </label>
				</div>

				<div ng-repeat="arrayValue in selected.arrayValues track by $index" class="row">
					<div class="col-sm-4">
						<input type="text" ng-model="arrayValue.condition" class="form-control"/>
					</div>
					<div class="col-sm-6">
						<input type="text" ng-model="arrayValue.expression" class="form-control"/>
					</div>
					<span ng-click="removeArray($index)" class="glyphicon glyphicon-minus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<input placeholder="Condition" type="text" ng-model="selected.arrayCurrentValue.condition" class="form-control"/> 
					</div>
					<div class="col-sm-6">
						<input placeholder="expression à retourner" type="text" ng-model="selected.arrayCurrentValue.expression" class="form-control"/> 
					</div>
					<span ng-click="addArrayValue()" class="glyphicon glyphicon-plus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>							
				</div>

			</div>
			
			<!-- fonction  -->
			<div ng-if="selected.id == 'function'">
				<div class="alert alert-info" role="alert"> 
					Ce type de fonction prend autant de paramètre que vous voulez, mais le contenu de la fonction est à écrire par vous même.
					Attention une fonction doit être terminée par l'instruction <b>RETOURNER</b> qui indique quel valeur est retournée par la fonction.
				</div>

				<div ng-include src="'functionName.html'"></div>

				<div class="row form-group">
					<label class="col-sm-4 control-label"> Paramètres </label>
				</div>

				<div ng-repeat="arrayValue in selected.arrayValues track by $index" class="row">
					<div class="col-sm-4">
						<input type="text" ng-model="arrayValue.name" class="form-control"/>
					</div>
					<div class="col-sm-6">
						<select class="form-control" ng-model="arrayValue.type" required>
							<option ng-repeat="(type, _) in configuration.varTypes | orderBy:type:reverse" value="{{type}}" ng-selected="type == arrayValue.type">{{type}}</option>
						</select>
					</div>
					<span ng-click="removeArray($index)" class="glyphicon glyphicon-minus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<input placeholder="nom du paramètre" type="text" ng-model="selected.arrayCurrentValue.name" class="form-control"/> 
					</div>
					<div class="col-sm-6">
						<select class="form-control" ng-model="selected.arrayCurrentValue.type" required>
							<option ng-repeat="(type, _) in configuration.varTypes | orderBy:type:reverse" value="{{type}}">{{type}}</option>
						</select>
					</div>
					<span ng-click="addArrayValue()" class="glyphicon glyphicon-plus-sign col-sm-2 cursor" style="margin-top : 5px" ></span>							
				</div>
			</div>
		</form>
	</div>

	<div class="clearfix"></div>

</div>
<div class="modal-footer" >	
	<button class="btn btn-success" ng-click="validateForm() && close(false)"> Ok </button>
	<button class="btn btn-warning" ng-click="close(true)"> Quitter </button>
</div>



<!---------------------------------------
	---- TEMPLATES ----------------------
	-------------------------------------->

<script type="text/ng-template" id="functionName.html">
	<div class="form-group" ng-class="{'has-error has-feedback' : isValidated && insForm.name.$error.required}">
		<label for="name"  class="col-sm-4 control-label"> Nom de la fonction : </label>
		<div class="col-sm-7">
			<input type="text" id="name" ng-model="selected.name" name="name" class="form-control" required/>
			<span class="error help-block" ng-show="isValidated && insForm.name.$error.required">Obligatoire</span>
			<div class="help-block">
				Le nom de la fonction. Par exemple pour f(x) = 2x+3 le nom de la fonction est f
			</div>
		</div>
	</div>
</script>